@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);

body {
	font-family: 'Luckiest Guy', cursive;
    background-image: url("../images/supermario64.png");
	color: white;
	background-size: 100% 880px;
	background-repeat: no-repeat;
}
 img {
	 margin-top: 10px;
 }

h2 {
	color: #FCDB0E;
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 40px;
	text-shadow: -3px -3px 0 #EC0E39, 3px -3px 0 #EC0E39, -3px 3px 0 #EC0E39, 3px 3px 0 #EC0E39;
}

.name {
	color: white;
}

.top {
	margin-top: 0;
	color: #FCDB0E;
	text-shadow: -3px -3px 0 #EC0E39, 3px -3px 0 #EC0E39, -3px 3px 0 #EC0E39, 3px 3px 0 #EC0E39;
	
}

.inline {
	display: inline-block;
}

.players {
	height: 115px;
	width: 115px;
	margin: 20px 20px 0 20px;
	border: 5px solid #F0AD4E;
}

.progress {
	margin-bottom: 0;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
}

.players:hover {
	cursor: pointer;
}

.hide {
	display: none;
}

.progress-bar {
	color: white;
}

#combat {
	margin-top: 0;
}

.strike {
	margin-bottom: 10px;
}

